<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miui.video"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
        android:icon="@drawable/vp_launcher_icon" >
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:theme="@style/VpDefaultTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/3g2b" />
                <data android:mimeType="video/m4v"/>
               	<data android:mimeType="video/avi"/>
                
                <data android:mimeType="video/x-flv" />
                <data android:mimeType="video/x-matroska" />
                <data android:mimeType="video/quicktime" />
                <data android:mimeType="video/MP2T" />
                <data android:mimeType="video/mpeg" />
                <data android:mimeType="video/x-msvideo" />
                <data android:mimeType="video/x-ms-wmv" />
		<data android:mimeType="video/x-ms-asf" />
                <data android:mimeType="video/x-pn-realvideo"/>
                <data android:mimeType="application/sdp" />
                
                <data android:mimeType="video/mp2p"/>
                <data android:mimeType="video/mp2ts"/>
                <data android:mimeType="video/x-matroska"/>
            </intent-filter>
            <intent-filter>
                <!-- HTTP live support -->


                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <!-- 
                    <data android:scheme="ftp" />
	                <data android:scheme="rtsp" />
	                <data android:scheme="rtmp" />
	                <data android:scheme="mms" />
	                <data android:scheme="tcp" />
	                <data android:scheme="udp" />
	                <data android:scheme="gopher" />
	                <data android:pathPattern=".*\\.avi" />
	                <data android:pathPattern=".*\\.asf" />
	                <data android:pathPattern=".*\\.f4v" />
	                <data android:pathPattern=".*\\.flv" />
	                <data android:pathPattern=".*\\.mkv" />
	                <data android:pathPattern=".*\\.mpeg" />
	                <data android:pathPattern=".*\\.mpg" />
	                <data android:pathPattern=".*\\.mov" />
	                <data android:pathPattern=".*\\.rm" />
	                <data android:pathPattern=".*\\.vob" />
	                <data android:pathPattern=".*\\.wmv" />
	                <data android:pathPattern=".*\\.ts" />
	                <data android:pathPattern=".*\\.tp" />
	                <data android:pathPattern=".*\\.m4v" />
	                <data android:pathPattern=".*\\.mp4" />
	                 <data android:pathPattern=".*\\.m3u" />
                 -->
                <data android:mimeType="application/octet-stream" android:pathPattern=".*\\.VOB"/>
		<data android:mimeType="application/octet-stream" android:pathPattern=".*\\.vob"/>
                <data android:pathPattern=".*\\.m3u8" />
               
            </intent-filter>
             <intent-filter>
                <!-- DuoKanVideo intent filter -->
                <action android:name="duokan.intent.action.VIDEO_PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme=""/>
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <!-- DuoKanVideo intent filter -->
                <action android:name="duokan.intent.action.VIDEO_PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DuoKanTempMediaListActivity" >
            <!-- 
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->
           
        </activity>
          <activity
            android:name=".DuoKanTempPlayHistoryListActivity">
        </activity>
    </application>

</manifest>